@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}
div.cab{
    height:15%;
    width:100%;
    background:blueviolet;
    position:absolute;
    top:0%;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkturquoise;

}
div.menu{
    height:10%;
    width:100%;
    background-color:salmon;
    position:absolute;
    top:15%;
    left:0%;
    display: flex;
    overflow: auto;
}
div.menu a:link{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    text-decoration: none;
    padding-left: 7.74%;
    padding-right: 7.74%;
    border: 1px solid;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: aliceblue;
}
div.menu a:hover{
    background-color: aqua;
    color: white;
}
div.menu a:active{
    background-color: blue;
    color: white;
}
div.ides{
    height:60%;
    width:20%;
    background-color:antiquewhite;
    position:absolute;
    top:25%;
    left:0%;
}
div.ides a{
    background-color:darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    border:2px solid;
    text-decoration: none;
    color:blueviolet;
}
div.ides a:hover{
    background-color:aquamarine;
    color:rgb(0, 114, 51);
}
div.ides a:active{
    background-color:magenta;
    color:black;
}
div.contenido{
    height:60%;
    width:60%;
    background-color:darkcyan;
    position:absolute;
    top:25%;
    left:20%;

}
div.buscadores{
    height:60%;
    width:20%;
    background-color:tomato;
    position:absolute;
    top:25%;
    left:80%;
}

div.buscadores a{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
    border:2px solid;
    text-decoration: none;
    color:white;
}
div.buscadores a:hover{
    color:blue;
    background-color: lawngreen;
}
div.buscadores a:active{
    color:black;
    background-color: white;
}
div.pie{
    height:15%;
    width:100%;
    background-color: cyan;
    position:absolute;
    top:85%;
    left:0%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}